.search {
  width: 100%;
  max-width: 620px;
  margin: auto;
  position: relative;
  margin-top: 40px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search {
    padding: 0 10px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .search {
    max-width: 500px;
  }
}
.search__search-field {
  width: 100%;
  max-width: 620px;
  height: 50px;
  border: 1px solid #b3b3b3;
  border-radius: 7px;
  font-size: 15px;
  color: #b3b3b3;
  padding-right: 130px;
  padding-left: 50px;
  outline: none;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search__search-field {
    margin-bottom: 50px;
    padding-right: 10px;
    font-size: 11px;
    height: 40px;
    padding-left: 30px;
  }
}
.search__search-field:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search__search-btn {
  width: 116px;
  height: 30px;
  font-size: 15px;
  background-color: #00a88f;
  border: 0;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  outline: none;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search__search-btn {
    top: 59px;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
  }
}
.search__search-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search__advanced {
  position: absolute;
  right: -125px;
  top: 15px;
  color: #00a88f !important;
  font-size: 15px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search__advanced {
    left: 0;
    top: 95px;
    right: 0;
    margin: auto;
    text-align: center;
  }
}
.search__topics {
  margin-top: 30px;
  color: #b3b3b3;
  font-size: 15px;
}
.search__topic {
  margin-right: 15px;
  color: #b3b3b3 !important;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search__topic {
    display: inline-block;
  }
}
.search__more {
  width: 44px;
  height: 22px;
  color: #fff;
  background-color: #b3b3b3;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  position: relative;
}
.search .icon-search-icon {
  position: absolute;
  left: 0;
  top: 0;
  vertical-align: middle;
  font-size: 28px;
  padding: 12px;
  color: #b3b3b3;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search .icon-search-icon {
    padding: 10px;
    font-size: 19px;
    padding-left: 17px;
  }
}
.search-result__list-wrapper {
  width: 100%;
  max-width: 810px;
  margin: auto;
  padding-top: 50px;
}
.search-result__displaying {
  position: absolute;
  right: 0;
  font-size: 15px;
  bottom: -30px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search-result__displaying {
    font-size: 12px;
  }
}
.search-result__item {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search-result__item {
    font-size: 15px;
  }
}
.search-result__item-img {
  float: left;
  margin-right: 10px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search-result__item-img {
    width: 100%;
  }
  .search-result__item-img img {
    width: 100%;
  }
}
.search-result__item-title {
  color: #00a88f !important;
  font-size: 21px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search-result__item-title {
    font-size: 16px;
  }
}
.search-result__item-more-info {
  font-size: 15px;
  font-style: italic;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search-result__item-more-info {
    font-size: 13px;
  }
}
.search-result__item-author {
  color: #00a88f !important;
}
.search-result__refine-search {
  font-size: 15px;
  color: #00a88f !important;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search-result__refine-search {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    text-align: right;
  }
}
.search-result__refine-search .fa-angle-right {
  margin-left: 5px;
  font-size: 26px;
  color: #aaa;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search-result__refine-search .fa-angle-right {
    font-size: 18px;
  }
}
.search-result__sort-by {
  font-size: 15px;
  position: absolute;
  right: 0;
  bottom: 10px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search-result__sort-by {
    font-size: 12px;
    left: 0;
    bottom: -33px;
  }
}
.search-result__sort-by-value {
  cursor: pointer;
  color: #00a88f;
}
.search-result__sort-by-value .fa-angle-down {
  font-size: 26px;
  color: #aaa;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search-result__sort-by-value .fa-angle-down {
    font-size: 18px;
  }
}
.search-result__pagination {
  text-align: center;
  font-size: 15px;
  padding: 35px 0;
  clear: both;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search-result__pagination {
    font-size: 13px;
  }
}
.search-result__pagination .fa-angle-left {
  margin-right: 5px;
  color: #aaa;
  font-size: 26px;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search-result__pagination .fa-angle-left {
    font-size: 21px;
  }
}
.search-result__pagination .fa-angle-right {
  margin-left: 5px;
  color: #aaa;
  font-size: 26px;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .search-result__pagination .fa-angle-right {
    font-size: 21px;
  }
}
.search-result__pagination a {
  text-decoration: none;
  color: #00a88f !important;
  margin: 0 15px;
}
.advance-search {
  width: 100%;
  max-width: 834px;
  margin: auto;
  display: table;
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .advance-search .date-1 {
    padding-right: 0 !important;
  }
  .advance-search .date-2 {
    padding-left: 0 !important;
  }
}
.advance-search__title {
  padding-left: 10px;
  margin-top: 15px;
}
.advance-search__search-btn {
  background-color: #fff !important;
  border: 1px solid #00a88f !important;
  color: #00a88f !important;
  padding: 14px 90px !important;
  margin-top: 40px;
}
.advance-search__input {
  position: relative;
}
.advance-search__input .glyphicon-calendar {
  position: absolute;
  right: 5px;
  top: 8px;
}
.advance-search__checkboxes {
  margin: 35px 0;
}
.advance-search__checkboxes label {
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.keyissues__features {
  margin-bottom: 35px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissues__features {
    margin-bottom: 0px;
  }
}
.keyissues__features__right {
  padding-left: 2px;
  padding-right: 17px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissues__features__right {
    padding: 0 10px;
  }
}
.keyissues__features__left {
  padding-right: 2px;
  padding-left: 17px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissues__features__left {
    padding: 0 10px;
  }
}
.keyissues__features__header,
.keyissues__features .icon-icon-videos,
.keyissues__features .icon-icon-featured {
  font-size: 21px;
  color: #00a88f;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissues__features__header,
  .keyissues__features .icon-icon-videos,
  .keyissues__features .icon-icon-featured {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
.keyissues__features--bordered {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.keyissues__feature {
  max-width: 520px;
}
.keyissues__feature .img-wrapper {
  position: relative;
  width: 100%;
}
.keyissues__feature img {
  width: 100%;
}
.keyissues__feature .play-btn {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 75px;
}
.keyissues__feature__title {
  font-size: 21px;
  color: #00a88f;
  margin-top: 5px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissues__feature__title {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.keyissues__feature__title a {
  color: #00a88f !important;
}
.keyissues__quote-wrapper {
  width: 100%;
  max-width: 750px;
  margin: auto;
  margin-bottom: 30px;
}
.slider-wrapper {
  height: 536px;
  margin-top: 30px;
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 0;
  padding: 0 5px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .slider-wrapper {
    height: 325px !important;
  }
}
.slider-wrapper .item {
  white-space: initial;
  display: inline-block;
  font-size: 18px;
  height: 264px;
  position: relative;
  margin: 0 2px 0 2pX;
  padding-top: 4px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .slider-wrapper .item {
    height: 160px !important;
  }
}
.slider-wrapper .item.big {
  width: 512px;
}
.slider-wrapper .item .item-img {
  width: auto;
  height: 100%;
}
.slider-wrapper .item .item-gradient {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 86px;
}
.slider-wrapper .item .item-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  color: #fff;
}
.slider-wrapper .item .item-title a {
  color: #fff;
  text-decoration: none;
}
.slider-wrapper .mCSB_scrollTools {
  bottom: -10px !important;
}
.keyissue__header {
  padding-top: 25px;
}
.keyissue__header--with-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 520px;
  position: relative;
  padding-top: 0;
}
.keyissue__header--with-image .apply__overlay {
  max-height: 40%;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissue__header--with-image {
    height: 200px;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .keyissue__header--with-image {
    height: 400px;
  }
}
.keyissue__header--with-image .container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  margin-bottom: 20px;
}
.keyissue__topic {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
}
.keyissue__topic--white {
  color: #fff;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissue__topic {
    font-size: 16px;
  }
}
.keyissue__title {
  font-size: 60px;
}
.keyissue__title--white {
  color: #fff;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissue__title {
    font-size: 24px;
  }
}
.keyissue__body {
  display: table;
  width: 100%;
  padding-top: 20px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissue__body {
    padding-top: 10px;
  }
}
.keyissue__side {
  float: left;
  width: 25%;
  padding-right: 15px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissue__side {
    width: 100%;
  }
}
.keyissue__side-small {
  display: none;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissue__side-small {
    display: block;
  }
}
.keyissue__info {
  padding-left: 30%;
  padding-bottom: 35px;
  font-size: 13px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissue__info {
    padding-left: 10px;
    padding-bottom: 10px;
  }
}
.keyissue__source {
  color: #00a88f;
}
.keyissue__source a {
  color: #00a88f !important;
}
.keyissue__date {
  color: #777777;
}
.keyissue__side-section {
  padding-bottom: 35px;
}
.keyissue__side-title {
  padding-left: 15px;
  color: #00a88f;
  border-bottom: 1px solid #cccccc;
  font-size: 13px;
}
.keyissue__side-tags {
  padding-left: 15px;
  padding-top: 10px;
  color: #777777;
}
.keyissue__side-tags a {
  color: #777777;
}
.keyissue__side-item {
  margin-left: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.keyissue__side-item:last-child {
  border-bottom: 0;
}
.keyissue__side-item a {
  color: #777777;
}
.keyissue__subscribe {
  padding-left: 15px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissue__subscribe {
    padding: 0 10px;
    margin-bottom: 20px;
  }
}
.keyissue__subscribe .logi-btn {
  background-color: #00a88f;
  font-size: 15px;
  border-radius: 7px;
  padding: 5px 10px;
  margin-top: 5px;
}
.keyissue__sharing-socials {
  margin-bottom: 30px;
  margin-top: 20px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissue__sharing-socials {
    margin-bottom: 15px;
  }
}
.keyissue__content {
  float: left;
  width: 50%;
  padding-left: 15px;
  position: relative;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissue__content {
    width: 100%;
    padding: 0 10px;
  }
}
.keyissue__socials {
  position: absolute;
  right: -40px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissue__socials {
    position: relative;
    right: 0;
  }
  .keyissue__socials .social-circle {
    display: inline-block;
    margin-right: 10px;
  }
}
.keyissue__download-wrapper {
  text-align: center;
  margin: 20px 0;
}
.keyissue__download-wrapper .download-btn,
.keyissue__download-wrapper .download-btn:hover {
  border-color: #00a88f !important;
  color: #00a88f !important;
  padding: 14px 50px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissue__download-wrapper .download-btn,
  .keyissue__download-wrapper .download-btn:hover {
    padding: 10px 20px !important;
  }
}
.keyissue__big-title {
  font-size: 24px;
  font-weight: bold;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissue__big-title {
    font-size: 20px;
  }
}
.keyissue__video-play {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 150px;
  height: 150px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissue__video-play {
    width: 50px;
    height: 50px;
  }
}
.keyissue__video-play img {
  width: 150px;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  .keyissue__video-play img {
    width: 50px;
  }
}
.keyissue .subscribe-result {
  display: inline;
  font-size: 13px;
}
.keyissue .subscribe-result.red {
  color: red;
}
.keyissue .subscribe-result.green {
  color: green;
}
.keyissue__description a {
  color: #00a88f;
}
.keyissue__description h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.keyissue__description h2 {
  font-size: 20px;
}
.keyissue__description h3 {
  font-size: 18px;
}
.keyissue__description img {
  max-width: 100%;
  height: auto !important;
}
.slider-prev {
  display: none;
  font-family: 'logi' !important;
  font-size: 70px;
  font-weight: 500;
  left: 5px;
  line-height: 531px;
  position: absolute;
  z-index: 99;
  color: #000;
  cursor: pointer;
  top: 0;
  /* bottom: 0; */
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  width: 35px;
}
.slider-prev:before {
  content: "\e903";
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .slider-prev {
    display: none !important;
  }
}
.slider-next {
  font-family: 'logi' !important;
  font-size: 70px;
  font-weight: 500;
  right: 0;
  line-height: 531px;
  position: absolute;
  z-index: 99;
  color: #000;
  cursor: pointer;
  top: 0;
  /* bottom: 0; */
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  width: 35px;
}
.slider-next:before {
  content: "\e905";
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .slider-next {
    display: none !important;
  }
}
/*# sourceMappingURL=keyissue.css.map */