@font-face {
    font-family: 'logi';
    src:    url('/Content/fonts/logi/logi.eot?pevnzv1');
    src:    url('/Content/fonts/logi/logi.eot?pevnzv1#iefix') format('embedded-opentype'),
        url('/Content/fonts/logi/logi.ttf?pevnzv1') format('truetype'),
        url('/Content/fonts/logi/logi.woff?pevnzv1') format('woff'),
        url('/Content/fonts/logi/logi.svg?pevnzv1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'logi' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-alert-01:before {
    content: "\e92e";
}
.icon-appraisal-01:before {
    content: "\e92f";
}
.icon-decommissioning-01:before {
    content: "\e930";
}
.icon-decrees-01:before {
    content: "\e931";
}
.icon-decrees-tooltip-icon-01:before {
    content: "\e932";
}
.icon-development-01:before {
    content: "\e933";
}
.icon-exploration-01:before {
    content: "\e934";
}
.icon-glasshour-01:before {
    content: "\e935";
}
.icon-liscensing-01:before {
    content: "\e936";
}
.icon-prerequisite-01:before {
    content: "\e937";
}
.icon-production-01:before {
    content: "\e938";
}
.icon-tax-laws-01:before {
    content: "\e939";
}
.icon-expert-icon-01:before {
    content: "\e929";
}
.icon-join-expert-01:before {
    content: "\e92a";
}
.icon-join-logi-icon-01:before {
    content: "\e92b";
}
.icon-join-team-01:before {
    content: "\e92c";
}
.icon-team-icon-01:before {
    content: "\e92d";
}
.icon-news-icon_v:before {
    content: "\e928";
}
.icon-contact-icon_v:before {
    content: "\e927";
}
.icon-donate-icon_vv:before {
    content: "\e925";
}
.icon-gift-icon-01:before {
    content: "\e926";
}
.icon-facebook:before {
    content: "\e920";
}
.icon-linkedin-01:before {
    content: "\e921";
}
.icon-mail_viv:before {
    content: "\e922";
}
.icon-pinterest_viv:before {
    content: "\e923";
}
.icon-twitter-01:before {
    content: "\e924";
}
.icon-arrow-dropdown-01:before {
    content: "\e91a";
}
.icon-arrow-go-01:before {
    content: "\e91b";
}
.icon-icon-calendar:before {
    content: "\e91c";
}
.icon-icon-featured:before {
    content: "\e91d";
}
.icon-icon-videos:before {
    content: "\e91e";
}
.icon-tick-01:before {
    content: "\e91f";
}
.icon-linked-in:before {
    content: "\e90c";
}
.icon-mail-01:before {
    content: "\e90d";
}
.icon-twitter:before {
    content: "\e90e";
}
.icon-by-laws:before {
    content: "\e90f";
}
.icon-registration-documents-01:before {
    content: "\e910";
}
.icon-educate:before {
    content: "\e911";
}
.icon-enable-experts:before {
    content: "\e912";
}
.icon-influence:before {
    content: "\e913";
}
.icon-financials:before {
    content: "\e914";
}
.icon-logi-partners:before {
    content: "\e915";
}
.icon-logi-team:before {
    content: "\e916";
}
.icon-mission:before {
    content: "\e917";
}
.icon-official-documentation:before {
    content: "\e919";
}
.icon-vision:before {
    content: "\e918";
}
.icon-learn-more-01:before {
    content: "\e900";
}
.icon-basics-icon-01:before {
    content: "\e901";
}
.icon-key-issues-icon-01:before {
    content: "\e902";
}
.icon-left-arrow:before {
    content: "\e903";
}
.icon-navigation-icon:before {
    content: "\e904";
}
.icon-right-arrow:before {
    content: "\e905";
}
.icon-closed-quotations:before {
    content: "\e906";
}
.icon-open-quotations:before {
    content: "\e907";
}
.icon-menu:before {
    content: "\e908";
}
.icon-search-icon:before {
    content: "\e909";
}
.icon-arrow-down:before {
    content: "\e90a";
}
.icon-logi-logo:before {
    content: "\e90b";
}